##############################################################
#
# List of approvers/reviewers for spot-crypto-trend
#
##############################################################

# Default owner for everything in repo
* @eugenelo
